<div class="panel-group" ng-repeat='categoria in categorias'>
    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" href="#collapse{{categoria.nome}}">
            <h4 class="panel-title" style="display:inline;">{{categoria.nome}}</h4>
            <span class="glyphicon glyphicon-menu-down" style="display:inline; float:right"></span>
        </div>
        <div id="collapse{{categoria.nome}}" class="panel-collapse collapse">
            <ul class="list-group">
                <li ng-repeat='audio in categoria.audios' class='list-group-item' 
                ng-class="{'list-group-item-success' : !audio.audioObj.audio.paused && audio.audioObj != null, 'list-group-item-warning' : audio.audioObj === null}">
                    
                    <div style="width: 80%; display:inline-block;" ng-click='testeAudio({audio})'>
                        <p style="">{{audio.nome}}</p>
                    </div>
                    <div style="width: 10%; display:inline-block;">
                        ||
                        <input type="checkbox" ng-model="audio.loopCheck" title="Loop" style="">
                        <!--<p style="display:inline; font-style: italic; font-size: 8; float: right;" ng-if="audio.audioObj === null">Tap to Load</p>-->
                    </div>

            	</li>
            </ul>
    </div>
</div>